<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="footer">
      <img
        class="logoSponsor-footer"
        src="../images/adalab.png"
        alt="Logo Adalab"
      />
    </footer>
  </body>
</html>
