<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <a
        class="header__brand"
        href="/"
        title="Haz click para volver a la página inicial"
      >
        <img
          class="header__companyLogo"
          src="../icons/laptop-code-solid.svg"
          alt="Logo proyectos molones"
        />

        <h1 class="header__title">4Code</h1>
      </a>
      <img class="logoSponsor" src="../images/adalab.png" alt="Logo Adalab" />
    </header>
  </body>
</html>
